---
// Import necessary components
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";

const { newsEntry } = Astro.props;

interface Props {
  newsEntry: CollectionEntry<"news">;
}
---

<div class="flex-shrink-0">
  <Image
    class="size-10 rounded-full sm:h-14 sm:w-14"
    src={newsEntry.data.authorImage}
    alt={newsEntry.data.authorImageAlt}
    draggable={"false"}
    format={"avif"}
  />
</div>
